.summary {
  .ui.grid {
    .column {
      display: flex !important;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
    }
  }
  .ui.statistic > .value,
  .ui.statistics .statistic > .value {
    font-size: 3rem !important;
  }
}
