html,
body {
  font-size: 12px;
}

header {
  height: 8rem;
  padding-top: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background: url(./covid-19b_SMALL.png) center;
  background-size: cover;
  h1,
  small {
    margin-left: 1rem !important;
  }
  h1 {
    margin-bottom: 0 !important;
  }
}

footer {
  text-align: center;
  padding: 1rem;
}
