html,
body {
  font-size: 12px;
}

.nav-wrapper.ui.container {
  margin: 0 !important;
  width:100%;
  height: 30px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .item {
    font-size: 1.2rem !important;
  }
}

header {
  height: 8rem;
  padding-top: 3rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background: url(./covid-19b_SMALL.png) center;
  background-size: cover;
  h1,
  small {
    margin-left: 1rem !important;
  }
  h1 {
    margin-bottom: 0 !important;
  }
}
